.grayscale-effect-processed .grayscale-effect-original-image {
  display: none;
}

.grayscale-effect-processed:hover .grayscale-effect-original-image {
  display: inline;
}

.grayscale-effect-processed:hover .grayscale-effect-desaturated-image {
  display: none !important;
}
